[submodule "subprojects/wahtwo"]
	path = subprojects/wahtwo
	url = https://github.com/heimskr/wahtwo.git
[submodule "subprojects/inja"]
	path = subprojects/inja
	url = https://github.com/pantor/inja.git
[submodule "subprojects/json"]
	path = subprojects/json
	url = https://github.com/nlohmann/json.git
