.dep
*.o
/algiz
*.so
*.dylib
.DS_Store
.vscode
*.log
PVS-Studio.log
report.tasks
strace_out
callgrind.*
/www
/algiz.json
/plugin
*.key
*.pem
*.ext
*.csr
*.crt
/geolite2++
*.mmdb
/.game3_secret
/subprojects/.wraplock
/certs