{
	"http": {
		"ip": "::1",
		"port": 8080,
		"root": "./www",
		"plugins": ["logger", "calculator", ["httpfileserv", {
			"default": ["index.t", "index.html"]
		}], ["default404", {
			"file": "www/404.t"
		}]]
	},
	"https": {
		"ip": "::1",
		"port": 4433,
		"root": "./www",
		"cert": "private.crt",
		"key": "private.key",
		"plugins": ["logger", "ansuz", "calculator", ["httpfileserv", {
			"default": ["index.t", "index.html"]
		}], ["default404", {
			"file": "www/404.t"
		}]]
	}
}